 /* INICIO INDEX */
 

/*HERO SECTION*/

.hero-section {
    display: grid;
    place-items: center;
    position: relative;
    .hero-section__article{
       display: flex;
       flex-direction: column;
       height: 100vh;
       width: 100%;
       align-items:center;
       justify-content:space-around;
       
       .hero-h1{
          position: relative;
          font-size: 7rem;
          font-weight: 800;
          margin-left: 1rem;
          text-align: center;
          color: #1a191d;
          text-shadow: 2px 3px 1px #e8ecec;
         }
       .hero-div{
            position: relative;
            display: flex;
            flex-direction: column;
            align-self: end;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: end;
            max-width: 100%;   
            padding-right: 4rem;
            width: 38%;

            .hero-p{
               color: #1a191d;
               text-shadow: 2px 3px 1px #e8ecec;
            }
          a{
             text-decoration: none;
             color: rgb(255, 255, 255);
             background: rgba(13, 13, 14, 0.89);
             text-align:center;
             padding: 4px 8px;
             color: #FFFFFF;
             text-shadow: -2px 3px 1px #212222;
            }
         }
      }
      .hero-section__article::before{
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       content: '';
       background-color: rgb(133, 173, 248);
       background-size: cover;
       width: 100%;
       background-repeat: no-repeat;
       background: url(../assets/perro-hero.jpg);
       height: 120vh;
       opacity: 0.9;
      }
   }
   
   /* SHOP SECTION */
   
   .shop-section{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      margin:25px 40px;
      .shop-section__div{
         margin:5px 40px;
         display: flex;
         justify-content: center;
      }
      h2{
         margin: 40px;
      font-size: 35px;
      
   }
   img{
      width: 330px;
      margin: 0px 5px;
      border: px solid black;
      box-shadow: 0px 10px 20px 2px #000000;
   }
   p {
      font-size: 30px;
   }
   div{
      flex-flow: row;
      justify-content: center;
   }
   img:hover{
      transform: scale(1.2);
   }
}
.h2shop{
           
          margin-top: 10rem;
          text-align: center;
          color: #1a191d;
          font-weight: 800;
          font-size: 3rem;
}

/*shop section 1*/

.shop-section1 {
   display: flex;
   justify-content: center;
   .shop-section1__div{
      h4{
      background-color: rgb(29, 29, 29);
      padding: 0.7rem;
      margin: 1rem;
      border: 1px solid black;
      border-radius: 8px;
      color: whitesmoke;
      }
   }
}

/*OTROS PRODUCTOS*/

.otros-productos{
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   justify-content: center;
   
   h2{
      border-top: 2px solid black;
      
      
   }
   .otros-productos__article{
      border: 1px solid black;
      padding: 1rem;
   }
   .otros-productos__article{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 25px 40px;
      img{
         width: 230px;

      }
   }
   
     .h3-p{
        display: flex;
        flex-direction: column;
        
     }
}


     /*ENCUENTRA MAS*/
        
     .encuentra-mas{
      display: grid;
      grid-template-columns:repeat(1,1fr);
      border-radius: 8px;
      margin: 20px 40px;
      place-items: center;
      img{
         width: 180px;
         transition-duration: 1000ms;

      }
      .encuentra-mas__article:hover{
         transform: scale(1.2);
      }
      img:hover{
         transform:translate(200px,0px);
         transition: all 1000ms;
      }
      .encuentra-mas div h3{
         font-size: 1rem;

      }
   }
