/*boton de compra*/

.button1{
    display: flex;
    flex-direction: column;
    align-items: center;
       .button1__button {  
          background-color: rgb(34, 33, 33);
          font-family: 'Poppins', sans-serif;
          font-weight:bold;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          font-size: 15px;
          border-radius: 5px;
          padding: 15px;
          color: rgb(226, 227, 231);
    }
    .button1__button:hover {  
       transform: scale(1.1);
    }
 }