
/* FOOTER */

.footer{
    font-size: 20px;
    border-top:4px solid black;
    background: rgb(162, 217, 206);
    background:  rgb(100, 200, 150);
    justify-content: space-evenly;
    margin-top: 90px;
    .footer__article{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       place-items: center;
       margin: 1.5rem;
       border: solid 1px;
       border-radius: 20px;
       padding: 2rem;
       a{
          text-decoration: none;
          color: black;
       }
       p{
          margin-bottom: 1.25rem;
          font-size:2rem;
       }
    }
    .footer__div1{
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
    }
 .footer__div img:hover{
 transform: scale(1.2);
    }
 
 }