
/*HEADER*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px solid black;
    background: rgb(100, 200, 150);
    align-items: center;
    width: 100%;
    .header__logo {
       font-size: 25px;
    }
    a{
       text-decoration: none;
       color: black;  
    }
    .header__nav{
       border-radius: 5px;
       .header__list{
         display:flex;
       }
          
       .header__item{
          display: inline-block;
          position: relative;
          margin-top: 10px;
          padding: 8px;
          border: 2px solid black;
          border-radius: 18px;
             li:hover {
                background: rgba(205, 152, 255, 0.726);
                border: 1px solid black;
             }
             
          
          .header__sublist{
             position: absolute;
             margin: 0px 8spx;
             display: none;
             background: rgb(178, 146, 204);
             width: 100%;
             border: 1px solid black;
          }
           .header__subitem{
             padding: 0.5em;
             display: block;
             text-align: center;
             .header__a{
                color: black;
                text-decoration: none;
                 margin: 0px 8px;
              }
              margin-right: 1rem;
          }
              li:hover > ul {
                 position: absolute;
                 display: block;
                 width: 100%;
              }
       }
    }
     li:hover{
       transform: scale(1.1);
       background: rgba(205, 152, 255, 0.726);
       }
       .header__buscador{
          display: flex;
          flex-direction:row;
          justify-content: center;
       }
       .header__carrito{
          margin-top: 15px;
          img{
             border: solid 3px black;
             padding: 0.2rem;
             border-radius: 3px;
          }
       }
       .header__carrito:hover{
          transform: scale(1.2);
       }
       .header__buscador-boton:hover{
          transform: scale(1.2);
       }
    }