/*MEDIA QUERIES*/


@media screen and (max-width:425px){
  
   
   /*HERO SECTION*/
   .hero-section {
      display: grid;
      place-items: center;
      position: relative;
   .hero-section__article{
       display: flex;
       flex-direction: column;
       justify-content:space-around;
         
      .hero-h1{
        font-size: 3rem;
        }
       .hero-div{
         position: relative;
         font-size: 1.8rem;
         font-weight: 400;
         text-align: center;
         max-width: 100%;   
         padding-right: none;
         width: 100%;
         margin-bottom: 5rem;
  
       .hero-p{
         display: none;
        }
           }
        }
        .hero-section__article::before{
           width: 100%;
           background-size:cover;
           background-repeat: no-repeat;
        }
     }
    /*SHOP SECTION*/
    .shop-section{
        display: flex;
        flex-direction: column;
    }
 
    .otros-productos{
       display: flex;
         flex-direction: column;
      }
   

      /*Page Productos*/
   
   .pagina-productos{
      display: grid;
      margin: 20px 40px;
   }

   .cama-perros{
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
      .productos1{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
      margin: 20px 40px;
   }

      /*Page Muestrario*/

   .titulo-muestrario{
      font-size: 2rem;
      margin-left: 3.9rem;
      width: 70%;
   }
   .muestrario-section{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1rem;
      justify-items: center;
   }
    
    /*Page Nosotros*/

    .ubicacion{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      h1{
         font-size: 2rem;
         color: rgb(0, 0, 0);
      }
   }
   .envios{
      display: block;
   }
   .envios1 h3{
      padding: 15px;
      font-size: 2rem;
   }
   .envios1 p{
      margin: 16px 20px;
      padding: 0px;
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
   }

 }



 @media screen and (max-width: 768px){
  
   
      /*HERO SECTION*/
      .hero-section {
         display: grid;
         place-items: center;
         position: relative;
      .hero-section__article{
          display: flex;
          flex-direction: column;
          justify-content:space-around;
            
         .hero-h1{
           font-size: 3rem;
           }
          .hero-div{
            position: relative;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            max-width: 100%;   
            padding-right: none;
            width: 100%;
            margin-bottom: 5rem;
     
          .hero-p{
            display: none;
           }
              }
           }
           .hero-section__article::before{
              width: 100%;
              background-size:cover;
              background-repeat: no-repeat;
           }
        }
       /*SHOP SECTION*/
       .shop-section{
           display: flex;
           flex-direction: column;
       }
    
       .otros-productos{
          display: flex;
            flex-direction: column;
         }
      
   
         /*Page Productos*/
      
      .pagina-productos{
         display: grid;
         margin: 20px 40px;
      }
   
      .cama-perros{
         display: grid;
         grid-template-columns: repeat(2,1fr);
      }
         .productos1{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 1rem;
         margin: 20px 40px;
      }
   
         /*Page Muestrario*/
   
      .titulo-muestrario{
         font-size: 2rem;
         margin-left: 3.9rem;
         width: 70%;
      }
      .muestrario-section{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         gap: 1rem;
         justify-items: center;
      }
       
       /*Page Nosotros*/
   
       .ubicacion{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         h1{
            font-size: 2rem;
            color: rgb(0, 0, 0);
         }
      }
      .envios{
         display: block;
      }
      .envios1 h3{
         padding: 15px;
         font-size: 2rem;
      }
      .envios1 p{
         margin: 16px 20px;
         padding: 0px;
         font-size: 1rem;
         font-family: 'Poppins', sans-serif;
         font-weight: 800;
      }
   
    }

    @media screen and (min-width: 1024px){

      /*HERO SECTION*/
      .hero-section {
         display: grid;
         place-items: center;
         position: relative;
      .hero-section__article{
         display: flex;
          flex-direction: column;
          justify-content:center;
          margin-top: 1rem;
            
         .hero-h1{
            font-size: 6.5rem;
           }
          .hero-div{
            position: relative;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: end;
            max-width: 70%;   
            padding-right: none;
            width: 70%;
            text-align: end;
     
          .hero-p{
            display: flex;
           }
              }
           }
         }

        /*Page Productos*/
      
       .pagina-productos{
        display: grid;
        margin: 20px 40px;
      }

      .cama-perros{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;
      }
         
      /*Page muestrario*/
      
      .materiales{
       display: grid;
       grid-template-columns: repeat(2,1fr);
      }
   }
 
 @media screen and (min-width: 1440px){
 
   /*HERO SECTION*/

   .hero-section {
      display: grid;
      place-items: center;
      position: relative;
   .hero-section__article{
       display: flex;
       flex-direction: column;
       justify-content:space-around;
         
      .hero-h1{
        font-size: 7rem;
        }
       .hero-div{
         position: relative;
         font-size: 1.8rem;
         font-weight: 400;
         text-align: end;
         max-width: 100%;   
         padding-right: none;
         width: 50%;
         align-items: end;
  
       .hero-p{
         display:flex;
        }
           }
        }
        .hero-section__article::before{
           width: 100%;
           background-size:cover;
           background-repeat: no-repeat;
        }
     }

    /*SHOP SECTION*/
    .shop-section{
        display: flex;
        flex-direction: column;
    }
 
    .otros-productos{
       display: flex;
         flex-direction: column;
      }
   
  
  /*Page Productos*/
 
  .pagina-productos{
    display: grid;
    margin: 20px 40px;
 }
 
 .cama-perros{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3rem;
 }
 
 /*Page muestrario*/

 .materiales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
  
 /*Page ubicación*/
 .ubicacion1 h1{
   font-size: 3rem;
   text-align: center;
   justify-content: center;
}

.ubicacion1 img{
   width: 250px;
}
}